@import 'reset';
@import 'variables';
@import './footer';
@import '~featherlight/release/featherlight.min';

.wrap {
  margin: 10px 20px;

  table {
    .row-action.decline {color: $nucssa-red;}
    img.admin-pickup-entry-image {width: 50px; height: 50px;}
  }
}