{% extends "base/base.twig" %}
{% block title %}司机申请成功{% endblock %}
{% block message %}
  <p>恭喜🎉🎉🎉 您的司机申请成功通过审核，您可以查看活跃订单并开始接单了</p>
  <div style="text-align: center">
    <p>请扫码加我们小助手的微信，回复“司机”，让小助手拉您进司机的微信群;</p>
    <p>再回复“接机”，让小助手拉您进新生接机答疑群:</p>
    <img src="{{ pickup_assistant_qr_code_url }}" alt="系统小助手微信" width="250px"/>
  </div>
  <p>感谢您的支持。</p>
{% endblock %}