{% extends "base/base.twig" %}
{% block title %}为您的订单打分{% endblock %}
{% block message %}
  <p>😜小哈士奇你好，欢迎来到Boston，希望我们的接机服务让您满意。</p>
  <p>请点击<a href="{{ feedback_url }}">这个链接</a>为接您的司机和接机活动打分以及提出宝贵建议。</p>
  <p>我们会认真阅读每一个反馈，挖掘活动的提升改进方向。</p>
  <br />
  <p>谢谢!</p>
  <p>NUCSSA</p>
{% endblock %}