{% extends "base/base.twig" %}
{% block title %}新订单提醒{% endblock %}
{% block message %}
  <p>有新订单提交，订单信息: </p>
  <table style="border-top:#90caf9 solid 1px;border-bottom:#90caf9 solid 1px;">
    <tr>
      <th width="100px">到达时间</th>
      <td>{{order.arrival_datetime}}</td>
    </tr>
    <tr>
      <th width="100px">目的地址</th>
      <td>{{order.drop_off_address}}</td>
    </tr>
  </table>
  <p>感兴趣请进入系统接单。</p>
  <p>如果您在系统中找不到此单，说明已经被其他司机抢先一步了。</p>
  <p>感谢您的支持。</p>
{% endblock %}