{% extends "base/base.twig" %}
{% block title %}新司机待您审核{% endblock %}
{% block message %}
  <p>收到一个新的司机申请，请进入<a href="{{site.url}}/wp-admin/admin.php?page=admin-menu-page-nucssa-pickup">系统后台</a>进行审核。 </p>
{% endblock %}