{% extends "base/base.twig" %}
{% block title %}欢迎来到NUCSSA接机系统{% endblock %}
{% block message %}
  <p>恭喜您成功注册了NUCSSA接机系统账户。</p>
  <p>作为乘客，在这里您可以创建接机请求，申请成为接机司机，查看订单状态(是否有司机接单，司机联系方式)等等。</p>
  <p>作为司机，在这里您可以查看所有活跃订单，接单，查看接到的订单的最新状态(航班信息，乘客联系方式)等等。</p>
  <p>当订单状态有更新时，系统会自动发邮件提醒您。</p>
  <p>感谢您的支持。</p>
{% endblock %}