{% extends "base/base.twig" %}
{% block title %}有新生待您审核{% endblock %}
{% block message %}
  <p>收到一个新生订单申请，请进入<a href="{{site.url}}/wp-admin/admin.php?page=admin-menu-page-nucssa-pickup__order-review">系统后台</a>进行审核。 </p>
{% endblock %}